# === Node / Vite ===
node_modules
dist
dist-ssr
*.local

# === Env files ===
.env
.env.local
.env.production
.env.development

# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Editor config ===
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# === OS / Misc ===
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
