# Dependencias
node_modules/

# Archivos de entorno y secretos
.env

# Archivos de base de datos (generados)
prisma/dev.db
prisma/*.sqlite
prisma/*.db-journal

# Archivos de logs y de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Archivos de despliegue temporales
.DS_Store
*.local
*.cache
dist/
build/

# Archivos de sistema de Windows
Thumbs.db
ehthumbs.db

/src/generated/prisma
